.margin {
    width: 1200px;
    margin: 0 auto;
}
.margins{
	width: 1100px;
	margin: 0 auto;
}

.checkactive{
	color:orange;
	border-bottom: 2px solid orange;
}

.small{
	border: 1px solid orange;
}

.list1{
	color:orange;
	font-weight: bold;
	border-top: 2px solid #f18d00;
	background: #fff;
}
.btn-position{
	position: fixed;
	top: 0px;
	left: 0px;
	background: #f8f8f8;
}

@mixin machine-list{
	width: 1100px;
	height: 360px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 14px;
}

@mixin span-style{
	display: inline-block;
	width:42px;
	background: rgb(252,78,107);
	color:white;
	font-size: 12px;
	text-align: center;
	height: 21px;
	line-height: 21px;
}

@mixin _span-style{
	display: inline-block;
	width: 42px;
	background: rgb(247,115,44);
	color:white;
	font-size: 12px;
	text-align: center;
	height: 21px;
	line-height: 21px;
	margin-left:8px
}

@mixin a-style{
	width: 264px;
	height:20px;
	text-align:center;
	margin-top:12px;
	display:inline-block;
	color:#666;
	font-size: 14px;
}

@mixin p-style{
	text-align:center;
	color: orange;
	font-size: 14px;
	margin-top: 6px;
	font-weight: bold
}

@mixin shadow{
	box-shadow: -1px -1px 20px #c7c7c7;
	padding: 0px;
	transition: top 0.5s,box-shadow 0.8s;
}

@mixin _shadow{
	position: relative;
	left: 0px;
	box-shadow: -1px -1px 20px #c7c7c7;
	top: -5px;
	padding: 0px;
	transition:0.8s;
}

@mixin h2-style{
	float: left;
	font-size: 22px;
	font-weight:100;
}

@mixin span-1{
	font-size:12px;
	font-weight:100;
	color:#999;
	margin-left:10px;
}

@mixin span-2{
	display:inline-block;
	background:#d2d2d2;
	width:1px;
	height:18px;
	margin:0 8px
}

@mixin hot{
	width: 263px;
	height: 420px;
	float: left;	
}

@mixin chatscroll{
	overflow: hidden;
	color:#333;
	height: 95px;
	line-height:20px;
	font-size: 14px;
	width: 220px;
	-webkit-line-clamp: 3;
	word-break:break-all;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}
@mixin chat{
	overflow: hidden;
	font-size:14px;
	height: 95px;
	margin: 12px 0 0 20px;
	height:95px;
}

@mixin chat-p{
	width:95px;
	color: #aaa;
	font-size: 14px;
	margin-bottom:15px;
}

body{
	background: #f8f8f8;
	font-size: 13px;
	color: #666;
	line-height: 180%;
}

#yh{
	width: 60px;
	height: 120px;
	position: fixed;
	bottom:199px;
	right: -2px;
	z-index: 99;
}

#kf{
	width: 58px;
	height: 58px;
	position: fixed;
	bottom:138px;
	right: 0px;
	z-index: 99;
	background: url(https://ecstore.oss-cn-hangzhou.aliyuncs.com/public/images/77/e8/03/da8a0f51b8386f92a555d1ba5ddd23d7ce2913d7.png?1495607750#h) ;
	img{
		position: absolute;
		right: 0px;
		display: none;
	}
	&:hover img{
		display: block;
	}
}

#fk{
	width: 58px;
	height: 58px;
	position: fixed;
	bottom:81px;
	right: 0px;
	z-index: 99;
	background: url(https://ecstore.oss-cn-hangzhou.aliyuncs.com/public/images/da/7e/ff/8a9fa48245be71aa002e0a62c348fbd02ecf03bd.png?1497841763#h);
	img{
		position: absolute;
		right: 0px;
		display: none;
	}
	&:hover img{
		display: block;
	}
}

#scrollTop{
	display: none;
	width: 58px;
	height: 58px;
	position: fixed;
	bottom:24px;
	right: 0px;
	z-index: 99;
	background: url(https://ecstore.oss-cn-hangzhou.aliyuncs.com/public/images/fb/06/69/e514a78cdc593575a11c05236f025bd4d7f2b47b.png?1495607683#h);
	img{
		position: absolute;
		right: 0px;
		display: none;
	}
	&:hover img{
		display: block;
	}
}

// 页头
header {
    background: #666;
    height: 37px;
    .top-l {
        height: 36px;
        float: left;
        margin-left: 15px;
        a {
            font: 12px/36px "";
            color: #fff;
        }
    }
    .top-r {
        height: 36px;
        float: right;
        margin-left: 15px;
        font-size:0;
		a{
			color:#fff;
			margin:0 5px;
			font: 12px/36px ""
		}
		span{
			color:#fff;
			font: 12px/36px ""
			}
    }
}
// 导航搜索框
nav{
		height: 155px;
		background: #fff;
		position: relative;
	#nav-top{
		height: 110px;
		.logo{
			display: block;
			height: 67px;
			width:219px;
			float: left;
			margin-top: 10px;
		}
		.Shopcartwrap{
			    float: right;
				position: relative;
				top: 26%;
				width: 160px;
				height: 35px;
				border: 1px solid #d2d2d2;
				line-height: 35px;
				text-align: center;
		}
		.searchThings{
			    float: right;
				position: relative;
				top: 26%;
				left: -9%;
				ul.droplist{
					z-index: 10;
					position: absolute; top: 35px;
					list-style: none; box-sizing: border-box;
					width: 100%; border: 1px solid #ccc;
					li{
						height: 25px;
						padding-left: 10px;
						background: #fff;
					}
					li.active{
						color:orange;
					}
				}
			.keywords{
				    width: 488px;
					height: 33px;
					line-height: 18px;
					border: 1px solid #f18d00;
					padding: 0 0 0 10px;
					outline: 0;
					background: none;
					font-size: 14px;
					outline: 0;
					float: left;
					color: #666;
			}
			.btn_search{
					    border: none;
						width: 50px;
						height: 35px;
						font-size: 14px;
						overflow: hidden;
						margin-left: -1px;
						background: #f18d00;
						color: #fff;
						float: left;
						line-height: 35px;
						cursor: pointer;
						margin-top: 0px;
						border-left: 1px solid #f2f2f2;
						padding-top:5px;
			}
		}
	}
	#nav-bottom{
		.MenuLists{ 
				li{
				
			    float: left;
				margin-right: 0px;
				font-size: 16px;
				padding-left: 53px;
				font-weight: bold;
				height: 16px;
				line-height: 16px;
				position: relative;
				z-index: 3;
				
				a{
					    display: block;
						color: #555;
				&:hover{
					color: #f18d00;
					height: 26px;
					}
				}
			}
			.first a{
				display: block;
				color: #f18d00;
				width:32px;
				height: 26px;
				border-bottom: 3px solid #f18d00;
			}
		}
	}
	ol{
		position: relative;
		li{
			display: none;
			width: 100%;
			height: 248px;
			background: #fff;
			position: absolute;
			top:30px;
			left: 0px;
			z-index: 10;
				div{
					text-align:center;
					width: 164px;
					height:210px;
					float: left;
					margin-left: 10px;
					margin-top: 10px;
					img{
						width: 164px;
						height: 164px;
					}
					p{
						text-align: center;
						color:orange;
						font-size:16px;
						font-weight: bold;
					}
				}
				div:nth-child(1){
					margin-left: 165px;
				}
		}
	li:nth-child(1){
		height: 0px;
		}
	li:nth-child(9){
		height: 0px;
		}
	}
}

main{
	overflow:hidden;
	.main-content{
		margin-top: 20px;

		.position{
			margin-left: 175px;
			margin-bottom: 20px;
			p{
				a{
					color:#666;
				}
				span:nth-child(4){
					color:orange;
				}
			}
		} 
		.goods{
			height: 525px;
			.goods-r{
				width: 544px;
				height: 450px;
				float: left;
				.bigImg{
					float: left;	
					width: 450px;
					height: 100%;
					position: relative;
					.smallCursor{
						position: absolute;
						left:0;
						top: 0;
						width: 200px;
						height: 200px;
						background: rgba(200,198,255,0.8);
						display: none;
					}
					.bigCursor{
						z-index: 999;
						position: absolute;
						width: 450px;
						height: 450px;
						top: 0;
						left: 550px;
					}
					img{
						width: 100%;
						height: 100%;
					}
				}
				.smallImg{
					float: left;
					margin-left: 10px;
					li{
						width: 82px;
						height: 82px;
						margin-bottom: 8px;
						cursor: pointer;
						border: 1px solid #ccc;
						img{
							width: 100%;
							height: 100%;							
						}
					}
				}
			}
			.goods-l{
				width: 600px;
				height: 525px;

				float: right;
				.title{
					h2{
						font:500 22px/39px "";
					}
					p{
						font:14px/21px "";
						color: #999;
						padding-top:2px;
					}
				}
				.price{
					margin-top: 16px;
					ins{
						color: #f18d00;
						font-size: 30px;
						line-height: 30px;
						text-decoration: none;
						font-weight: bold;
					}
				}
				.cuxiao{
					position: relative;
					margin-top: 20px;
					border-bottom: 1px dashed #d2d2d2;
					padding-bottom: 18px;
					&:hover .list{
						display: block;
					}
					.list{
						position: absolute;
						width: 557px;
						top: -17px;
						left: 49px;
						box-shadow: rgb(136, 136, 136) 1px 1px 6px;
						padding-bottom: 4px;
						background: rgb(255, 255, 255);
						display: none;
						li{
							padding: 13.5px 0px 7.5px 15px;
							white-space: normal;
							em{
								display: inline-block;
								width: 108px;
								height: 30px;
								border: 1px solid #f18d00;
								background: #fff;
								color: #f18d00;
								line-height: 30px;
								text-align: center;
								border-radius: 7px;
								margin-right: 20px;
								padding: 0px 5px;
							}
						}
					}
					em{
						color:#999;
					font-style: normal;
					}
					.number{
						font-size: 14px;
						position: absolute;
						right: 0;
						top:0;
					}
					.xiangqing{
						font-size: 14px;
						color: #333;
						display: inline-block;
						word-break: break-all;
						width: 293px;
						vertical-align: center;
					}
					.te{
						width: 108px;
						height: 30px;
						border: 1px solid #f18d00;
						background: #ffffff;
						color: #f18d00;
						line-height: 30px;
						text-align: center;
						border-radius: 7px;
						margin-right: 20px;
						padding: 0px 5px;
						display: inline-block;
						margin-left: 33px;
					}
				}
				.buy{
					background: none;
					border: 0px;
					padding: 10px 0px;
					margin-top: 10px;
					.pec{
					    border-bottom: 1px dashed #d2d2d2;
						padding-bottom: 20px;
						margin-bottom: 20px;
						.taocan{
							overflow: hidden;
							span{
								float: left;
								color:#999;
								width: 60px;
								margin-right: 5px;
								text-align: left;
								padding-top: 1px;
								display: inline-block;
							}
							ol{
								
								overflow: hidden;
									li{
										float: left;
										margin-right: 30px;
										border: 1px solid #d2d2d2;
										background-color: #fff;
										width: 110px;
										height: 30px;
										border-radius: 7px;
										text-align: center;
										padding: 0px 5px;
										color: #d2d2d2;
										line-height: 30px;
										margin-bottom: 15px;
										cursor: pointer;
								}
							}
						}
					}
					.buy-number{
						position: relative;
						.erweima{
						position: absolute;
						top:-75px;
						right: 15px;
						width: 148px;
						height: 148px;
						display:none;
							img{
								width: 100%;
								height: 100%;
							}
						}
						.te{
							display: inline-block;
							float: left;
							color: #999;
							font-size: 14px;
						}
						.jishuqi{
								margin-left: 58px;
								
								.p-quantity{
									text-align: center;
									background: #fff;
									display: inline-block;
									width: 110px;
									height: 34px;
									border: 1px solid #d2d2d2;
									border-radius: 7px;
										.decreaseBtn{
											    width: 29px;
												height: 29px;
												border-width: 0px 1px 0px 0px;
												border-right-style: solid;
												border-right-color: rgb(210, 210, 210);
												font-size: 22px;
												padding-top: 6px;
												color: #666666;
												display: inline-block;
												overflow: hidden;
												vertical-align: middle;
												text-align: center;
												cursor: pointer;
										}
										input{
											width: 50px;
											height: 32px;
											border: 0px;
											padding-bottom: 4px;
											line-height: 21px;
											padding: 0;
											margin: 0;
											vertical-align: middle;
												text-align: center;
										}
										.increaseBtn{
											cursor: pointer;
											width: 29px;
											height: 32px;
											border: 0px;
											border-left: 1px solid #d2d2d2;
											padding: 3px 0;
											color: #666666;
											font-size: 22px;
											overflow: hidden;
											vertical-align: middle;
											text-align: center;
										}
								}
						}
						.buy-action{
							margin-top:30px;
							overflow: hidden;
							position: relative;

							.goumai{
								cursor: pointer;
									width: 166px;
									margin-right: 20px;
									border-radius: 7px;
									outline: none;
									border: 0 none;
									background: orange;
									&:hover{
									background: orangered;
									}
										span{
											font: 16px/48px "";
											text-align: center;
											display: inline-block;
											width: 166px;
											height: 48px;
											border-radius: 7px;
											color:#fff;
											
										}
							}
							.gouwuche{
								width: 166px;
								margin-right: 20px;
								border-radius: 7px;
								outline: none;
								border: 0 none;
								background: #ffd394;
								position: relative;
								cursor: pointer;
								&:hover{
									background: #fcdfb2;
								}
								img{
									position: absolute;
									top: 14px;
									left: 20px;
								}
								span{
									font: 16px/48px "";
									text-align: center;
									width: 166px;
									height: 48px;
									border-radius: 7px;
									color:orange;
									margin-left: 10px;
								}
							}
							.shoucang{
								position: relative;
								top: 9px;
								left: 20px;
									display:inline-block ;
								    width: 48px;
									height: 48px;
									background: #fff;
									border: 1px solid #d2d2d2;
									border-radius: 7px;
									img{
										position: relative;
										top: 4px;
										left: 14px;
									}
									p{
										text-align: center;
									}
							}
							.sys{
								cursor: pointer;
								position: relative;
								top: 8px;
								left:40px;
								display: inline-block;
								width: 68px;
								height: 48px;
								background: #fff;
								border: 1px solid #d2d2d2;
								font-size: 12px;
								padding-left: 10px;
								color: #333;
								border-radius: 7px;
								img{
									position: relative;
									top: 4px;
									left: 20px;
								}
							}
						}
					}
				}
			}
		}
	}
	.main-xq{
		margin-top: 40px;
		
		.goods-btn{
			width: 100%;
			overflow:hidden;
			button{
				width: 130px;
				height:30px;
				outline: none;
				border-radius: 7px;
				border: 0 none;
				background: orange;
				font: 13px/30px "";
				color: #fff;
				position: fixed;
				display: none;
				cursor: pointer;
			}
			li{	
				cursor: pointer;
				float: left;
				width: 166px;
				height: 45px;
				font: 14px/45px "";
				text-align: center;
			}
		}
		.yemian{
			img{
				display: block;
				width: 100%;
			}
		}
	}
}





div#foot-t{
	margin-top: 60px;
	border: #e5e5e5 1px solid;
}

footer{
	width: 1120px;
	height: 158px;
	margin: 0 auto;
	margin-top:25px;
	div.foota{
		float:left;
		width:175px;
	h3{	
		a{
			color:#666;
			line-height: 22px;
		}
	}
	ul.news-list{
		li{
			line-height: 22px;
			a{
				color:#666;
				}
			}
		}
	}
	div.phone{
		float: right;
		margin-right: 10px;
	}
}

div#bottom{
	overflow: hidden;
	height: 80px;
	margin-top: 10px;
	background: #fafafa;
	p{
		text-align: center;
	}
}
